<div data-role='header'>

 <a href="#" data-role="button" data-icon="info" data-iconpos ="notext"   data-theme='a'>Config</a>
      <h1>Dashboard</h1>

      <a href="#" data-role="button" data-icon="gear" data-iconpos ="notext"   data-theme='a'>Config</a>

</div>


<div data-role="content">


	<div class="ui-grid-a">

       <div class="ui-block-a">

          <div class="ui-bar">

                 <a href="/employees/dashboard" data-role="none">
                   
                 	<%=image_tag 'ic_action_user.png'%></a>
                 	
                 <span class="icon_text">Employee Managment</span>

            </div>
       </div>


        <div class="ui-block-b">

          <div class="ui-bar"><a href="#" data-role="none"><%=image_tag 'ic_action_attach.png'%></a>
           <span class="icon_text">Client Managment</span></div>
       </div>

	</div>

     
 
</div>
