<div data-role="header">

  <a href="/employees/dashboard" data-role="button" data-icon="home" data-iconpos ="notext"   data-theme='a'>Employee Dashboard</a>
      <h1>Hiring</h1>

      <a href="#" data-role="button" data-icon="info" data-iconpos ="notext"   data-theme='a'>Info</a>

  </div>



  <div data-role="content">

     <%=render 'form' %>



  </div>